.card{
    margin: 40px !important;
    font-size: 15px;
    width: 20rem !important;
    padding: 4px;
    
}

.card:hover{
    box-shadow: 0px 0px 25px black;
}

.card-title{
    font-size: 20px !important;
    font-weight: 600;
}

.newsHeading{
    text-align: center;
    padding-top: 30px;
    font-weight: 600;
    text-decoration: underline;
}

.card img{
    min-height: 220px !important;
}

.card .author{
    margin-left: 20px;
}

.card .author small{
    font-size: 12px;
    font-weight: 600;
    color: #525252;
}

.card .author strong{
    font-size: 16px;
    font-weight: 900;
    color: #212121;
}

.btn-1{
    /* position: absolute; */
    /* right: 0; */
    margin-right: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 25px black;
}

.btn-2{
    /* position: relative; */
    /* left: 0; */
    margin-left: 40px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 25px black;
}

.spinner{
    margin-top: 50px;
    height: 40vh !important;
}
